/* Visual Mac */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		font-weight: inherit;
		font-style: inherit;
		font-size: 100%;
		font-family: inherit;
		vertical-align: baseline;
}

body h1, body h2, body h3, body h4, body h5, body h6{
	color: #595959;
	font-family: 'Yanone Kaffeesatz', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#title_bar, .simple_form input[type="submit"]{
		background: #EFEFEF;
		background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#DFE1E2));
		background: -moz-linear-gradient(-90deg, #EFEFEF, #DFE1E2);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#dfe1e2);
		-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#dfe1e2);
		box-shadow: 0 1px 2px #aaaaaa;
		-moz-box-shadow: 0 1px 2px #aaaaaa;
		-webkit-box-shadow: 0 1px 2px #aaaaaa;
		text-shadow: white 0 1px 0;
		border-bottom: 1px solid #EDEDED;
		padding: 5px 10px 3px 10px;
		font-size: 1.0em;
		font-weight: bold;
		line-height: 140%;
		margin: 0;
		color: #5E6469;
		position: relative;
		margin: 0;
		padding: 10px 30px;
}
/* aqui arredonda e enfeita o botao */
#title_bar .action_items a, .simple_form input[type='submit'] {
		box-shadow: 0 1px 2px #aaaaaa;
		-moz-box-shadow: 0 1px 2px #aaaaaa;
		-webkit-box-shadow: 0 1px 2px #aaaaaa;
		background: #838A90;
		background: -webkit-gradient(linear, left top, left bottom, from(#838A90), to(#414549));
		background: -moz-linear-gradient(-90deg, #838A90, #414549);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#838a90, endColorstr=#414549);
		-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#838a90, endColorstr=#414549);
		-webkit-border-radius: 200px;
		-moz-border-radius: 200px;
		border-radius: 200px;
		text-shadow: black 0 1px 0;
		text-decoration: none;
		margin-right: 3px;
		font-weight: bold;
		font-size: 1.0em;
		cursor: pointer;
		padding: .6em 1.4em .5em 1.3em;
		border: none;
		color: #EFEFEF;
		background: #F9F9F9;
		background: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#DDDBDB));
		background: -moz-linear-gradient(-90deg, #F9F9F9, #DDDBDB);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9, endColorstr=#dddbdb);
		-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9, endColorstr=#dddbdb);
		text-shadow: white 0 1px 0;
		color: #777;
		background: #F9F9F9;
		background: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#DDDBDB));
		background: -moz-linear-gradient(-90deg, #F9F9F9, #DDDBDB);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9, endColorstr=#dddbdb);
		-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9, endColorstr=#dddbdb);
		padding: .8em 1.5em .7em 1.5em;
		border: 1px solid #F8F8F8;
}
#title_bar .action_items a:hover, .simple_form input[type='submit'] {
        color: #fff;
        box-shadow: 0 1px 3px #888888;
        -moz-box-shadow: 0 1px 3px #888888;
        -webkit-box-shadow: 0 1px 3px #888888; }
        
#title_bar .action_items a:hover span.icon svg path, #title_bar .action_items a:hover span.icon svg polygon, #title_bar .action_items a:hover span.icon svg rect, #title_bar .action_items a:hover span.icon svg circle, .simple_form input[type='submit'] {
          fill: white !important; }
          
#title_bar .action_items a:active, .simple_form input[type='submit']:active {
        box-shadow: inset 0 1px 2px black;
        -moz-box-shadow: inset 0 1px 2px black;
        -webkit-box-shadow: inset 0 1px 2px black; }
        
#title_bar .action_items a:hover, .simple_form input[type='submit'] {
        color: #444; }
        
#title_bar .action_items a:hover span.icon svg path, #title_bar .action_items a:hover span.icon svg polygon, #title_bar .action_items a:hover span.icon svg rect, #title_bar .action_items a:hover span.icon svg circle, .simple_form input[type='submit']  {
          fill: #444444 !important; }
          
#title_bar .action_items a:active {
        box-shadow: inset 0 1px 2px #aaaaaa;
        -moz-box-shadow: inset 0 1px 2px #aaaaaa;
        -webkit-box-shadow: inset 0 1px 2px #aaaaaa; }
        
#title_bar .action_items a span.icon svg path, #title_bar .action_items a span.icon svg polygon, #title_bar .action_items a span.icon svg rect, #title_bar .action_items a span.icon svg circle {
        fill: #777777 !important; }
        
#title_bar .action_items a span.icon {
        width: 0.8em;
        height: 0.8em; }
        
#title_bar .action_items a span.icon svg {
        width: 0.8em;
        height: 0.8em; }
        
#title_bar .action_items a span.icon {
        vertical-align: bottom;
        margin-right: 4px; }
        
#title_bar .action_items a:hover span.icon svg path, #title_bar .action_items a:hover span.icon svg polygon, #title_bar .action_items a:hover span.icon svg rect, #title_bar .action_items a:hover span.icon svg circle, .simple_form input[type='submit'] {
        fill: black !important; }
#title_bar .action_items a:active, .simple_form input[type='submit'] {
        border: inherit; }
        
/* configurando a aparencia dos links */
a:-webkit-any-link  {
	color: -webkit-link;
	text-decoration: underline;
	cursor: auto;
}

a, a:link, a:visited {
	color: #38678B;
}

a, a:link, a:visited {
	color: #38678B;
}

a:hover, .simple_form input[type='submit']:hover { fill: #444444 !important; }
a:active, .simple_form input[type='submit']:active {
          box-shadow: inset 0 1px 2px #aaaaaa;
          -moz-box-shadow: inset 0 1px 2px #aaaaaa;
          -webkit-box-shadow: inset 0 1px 2px #aaaaaa; 
          }        
        

/* configurando tags de cabeçaçho */
body h2 {
font-size: 2.5em;
font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #5e6469; }
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
    margin: 0; }

h1 {
  font-size: 1em;
  line-height: 1;
  margin-bottom: 0.5em; }

h2 {
  font-size: 2em;
  margin-bottom: 0.75em; }

h3 {
  font-size: 1.5em;
  l
  ine-height: 1;
  margin-bottom: 1em; }

h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em; }

h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em; }

h6 {
  font-size: 1em;
  font-weight: bold; }

p {
  margin: 0 0 1.5em; }
p .left {
    margin: 1.5em 1.5em 1.5em 0;
    padding: 0; }
p .right {
    margin: 1.5em 0 1.5em 1.5em;
    padding: 0; }

fieldset {
	display: block;
	-webkit-margin-start: 2px;
	-webkit-margin-end: 2px;
	-webkit-padding-before: 0.35em;
	-webkit-padding-start: 0.75em;
	-webkit-padding-end: 0.75em;
	-webkit-padding-after: 0.625em;
	border: 2px groove threedface;
}        

/* configurando os inputs (crud, botoes) */
input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active, input[type="file"]:active::-webkit-file-upload-button, button:active {
	border-style: inset;
} 
input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button {
	padding: 1px 6px;
}
input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button {
	-webkit-box-align: center;
	text-align: center;
	cursor: default;
	color: buttontext;
	padding: 2px 6px 3px;
	border: 2px outset buttonface;
	background-color: buttonface;
	box-sizing: border-box;
}
input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button {
	-webkit-appearance: push-button;
	white-space: pre;
}

/* removi a tag input, estava dando problemas na aparecia do checkbox */
input[type="password"], input[type="search"], isindex {
	-webkit-appearance: textfield;
	padding: 1px;
	background-color: white;
	border: 2px inset;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	cursor: auto;
}
input, textarea, keygen, select, button, isindex {
	margin: 0em;
	font: -webkit-small-control;
	color: initial;
	letter-spacing: normal;
	word-spacing: normal;
	line-height: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: -webkit-auto;
}
input::-webkit-input-placeholder, isindex::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	color: #666666; /* darkgray;*/
}

input:not([type]), input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
	padding: 1px 0px;
}
input:focus, textarea:focus, isindex:focus, keygen:focus, select:focus {
	outline-offset: -2px;
}
/* qq elemento q tiver o foco será destacado */
:focus {
	outline: 5px auto -webkit-focus-ring-color;
}
/* removi a tag input, estava dando problemas na aparecia do checkbox */
input[type="password"], input[type="search"], isindex {
	-webkit-appearance: textfield;
	padding: 1px;
	background-color: white;
	border: 2px inset;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	cursor: auto;
}
input, textarea, keygen, select, button, isindex {
	margin: 0em;
	font: -webkit-small-control;
	color: initial;
	letter-spacing: normal;
	word-spacing: normal;
	line-height: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: -webkit-auto;
}
input::-webkit-input-placeholder, isindex::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	color: darkGray;
}
.simple_form input[type="text"]:focus, .simple_form input[type="password"]:focus, .simple_form input[type="email"]:focus, .simple_form input[type="tel"]:focus, .simple_form textarea:focus,
form input[type="text"]:focus, form input[type="password"]:focus, form input[type="email"]:focus, form input[type="tel"]:focus, form textarea:focus, select, input:focus, input[type='number']:focus {
	border: 1px solid #99A2AA;
	box-shadow: 0 0 4px #99a2aa;
	-moz-box-shadow: 0 0 4px #99a2aa;
	-webkit-box-shadow: 0 0 4px #99a2aa;
}
.simple_form input[type="text"], .simple_form input[type="password"], .simple_form input[type="email"], .simple_form input[type="tel"], .simple_form textarea,
form input[type="text"], form input[type="password"], form input[type="email"], form input[type="tel"], form textarea, input:focus, input[type='number']  {
	width: 45%;
	border: 1px solid #C9D0D6;
	font-size: 0.95em;
	outline: none;
	padding: 8px 10px;
}

ol {
	display: block;
	list-style-type: decimal;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}

li {
	display: list-item;
}
.simple_form ul, .simple_form ol, .simple_form li, .simple_form fieldset, .simple_form legend, .simple_form input, .simple_form textarea, .simple_form select, .simple_form p,
form ul, form ol, form li, form fieldset, form legend, form input, form textarea, form select, form p, select, input:focus {
		margin: 0;
		padding: 0;
}

/* para os botoes create */
form input[type="submit"], .simple_form input[type="submit"] {
box-shadow: 0 1px 2px #aaaaaa;
-moz-box-shadow: 0 1px 2px #aaaaaa;
-webkit-box-shadow: 0 1px 2px #aaaaaa;
background: #838A90;
background: -webkit-gradient(linear, left top, left bottom, from(#838A90), to(#414549));
background: -moz-linear-gradient(-90deg, #838A90, #414549);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#838a90, endColorstr=#414549);
-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#838a90, endColorstr=#414549);
-webkit-border-radius: 200px;
-moz-border-radius: 200px;
border-radius: 200px;
text-shadow: black 0 1px 0;
text-decoration: none;
margin-right: 3px;
font-weight: bold;
font-size: 1.0em;
cursor: pointer;
padding: .6em 1.4em .5em 1.3em;
border: none;
color: #EFEFEF;
}

a.button, input[type="submit"] {
box-shadow: 0 1px 2px #aaaaaa;
-moz-box-shadow: 0 1px 2px #aaaaaa;
-webkit-box-shadow: 0 1px 2px #aaaaaa;
background: #838A90;
background: -webkit-gradient(linear, left top, left bottom, from(#838A90), to(#414549));
background: -moz-linear-gradient(-90deg, #838A90, #414549);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#838a90, endColorstr=#414549);
-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#838a90, endColorstr=#414549);
-webkit-border-radius: 200px;
-moz-border-radius: 200px;
border-radius: 200px;
text-shadow: black 0 1px 0;
text-decoration: none;
margin-right: 3px;
font-weight: bold;
font-size: 1.0em;
cursor: pointer;
padding: .6em 1.4em .5em 1.3em;
border: none;
color: #EFEFEF;
}




       	

/* ------ antigo ------ */
.toolbar button {
    font-size: 0.9em;
}

.item button table {
    margin: 0;
    border: none;
    font-weight: bold;
    font-size: 0.8em;
}

.item button table td {
    border: none;
    padding: 0;
}

    background: #eeeeee;
    border: solid 1px #888888;
    color: #999999;
}

*[disabled] {
    color: #999;
}

.button-b[disabled],
.button-b[disabled]:hover {
	  background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #AAAAAA;
    cursor: default;
    text-shadow: 0 0 #FFFFFF;
}

.item .readonlyfield {
    color: black;
}

.readonlyfield button {
    display: none;
}

.view .separator {
    border: 0 solid #666;
}
.view .separator.horizontal {
    font-weight: bold;
    border-bottom-width: 1px;
    margin: 6px 4px 6px 1px;
}
.view .separator.vertical {
    border-left-width: 1px;
    padding-right: 5px;
}

.label {
    padding: 2px 6px;
}
.item {
    padding: 2px;
}

table.fields td {
    color: #4C4C4C;
}

.label,
.action-buttons label {
    color: #4C4C4C;
    text-align: right;
    white-space: nowrap;
}

.action-buttons label {
    display: block;
}
.action-buttons label input {
    vertical-align: text-top;
}
.item input,
.item select {
    width: auto; /*100%*/
    min-width: 90px;
}

.item .fields {
    width: 100%;
}

.item input,
.item select,
.item textarea {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #FFFFFF none repeat scroll 0 0;
    border: 1px solid #CECBCB;
    vertical-align: middle;
}

.item input.m2o,
.item input.reference {
    padding-right: 14px;
}

.m2o_container {
    padding-right: 16px;
    white-space: nowrap;
}
.m2o {
    position: relative;
}
.m2o_select {
    position: absolute;
    right: 2px;
    top: -2px;
}
input.datetime {
    float: left;
}
img.datetime {
    float: left;
    margin: 2px 0 0 -19px;
}

img.m2o_select,
img.m2o_open {
    vertical-align: middle;
    cursor: pointer;
}

.item .item-wrapper td {
    padding: 0;
    padding-right: 2px;
    white-space: nowrap;
}

.item .item-wrapper td img {
    vertical-align: middle;
}

.resizable-textarea .grip {
    background: #EEEEEE url(../images/textarea-grip.png) no-repeat scroll center 2px;
    border-color: #DDDDDD;
    border-style: solid;
    border-width: 0pt 1px 1px;
    cursor: s-resize;
    width: 99%;
    height: 9px;
    overflow: hidden;
}


.item .radio {
    width: auto;
    min-width: 10px;
}

#view_form .fielderror,
#search_form .fielderror {
    color: #FF0000;
}

#view_form .requiredfield {
    background-color: #D2D2FF;
}

#view_form .errorfield,
#search_form .errorfield {
    background-color: #FF6666;
} 

#view_form .readonlyfield {
    background-color: #EEEEEE;
}

table.readonlyfield .pagerbar .pagerbar-cell .pager-table .pager-cell h2 {
	color: DarkGray;
}

table.readonlyfield table.grid .grid-cell {
	color: DarkGray;
}

table.m2o_readonly {
	color: DarkGray;
}

.view_form_options {
    padding: 3px 0 8px 0;
}
.view_form_options div {
    margin: 3px 0;
}

/* LOGIN AJAX FORM*/
input.user_pass {
    width: 150px;
}

button.click_login {
    width: 80px;
    white-space: nowrap;
}

div.invalid_login {
    display: none;
    color: red;
    text-align: center;
}

/* NORMAL LOGIN*/
select.db_user_pass,
input.db_user_pass {
	width: 100%;
	min-width: 150px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

td.db_login_buttons {
    text-align: right;
    padding: 5px 3px 0 0;
}

/* POPUPS */

.footer_tool_box {
    padding: 2px 5px;
}

td.save_close {
    padding: 0 5px 0 0;
}

/* VIEWED */
div.viewed_tree {
    overflow-x: auto;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    border: solid #999999 1px;
}

/* Binary Widget */
div.binary_buttons {
    white-space: nowrap;
    width: 150px;
}

/* Button Widget */
div.button_wid_string {
    text-align: center;
    background-repeat: no-repeat;
    padding: 3px 0 0 20px;
    height: 17px;
}

/* Progress Bar Widget */
.progress-bar {
    position: relative;
    border: 1px solid gray;
    font-size: 11px;
    text-align: center;
}
.progress-bar div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #afafaf;
    z-index: -1;
}

td.logActions {
    padding: 0 0 1px 10px;
}

div#more_logs {
	display: none;
}

div#system-logs {
    padding: 10px;
}
div#system-logs table {
    border: none;
}
div#system-logs a {
    text-decoration: underline;
    font-weight: bold;
}
div#system-logs table tr:hover {
    background: #eee;
}
div#system-logs table tr td {
    padding: 2px;
}

div#serverlog {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #FFFFFF none repeat scroll 0 0;
    border: 1px solid #CECBCB;
    margin: 8px 8px 0px 8px;
}

table.serverLogHeader {
    border-bottom: 1px solid #CECBCB;
    padding: 2px;
    color: #9A0404;
    width: 100%;
}

div#serverlog a {
    color: #511712;
}
div#serverlog table {
    border: none;
}

#help-tips {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #CECBCB;
    padding: 1px 10px;
    color: #4C4C4C;
}

#disable-tips, #hide-tips {
    float: right;
    font-size: 0.9em;
    padding: 0 4px;
}
a#disable-tips:hover, a#hide-tips:hover {
    text-decoration: underline;
}

#help-tips p {
    padding: 6px 1px 4px;
    font-size: 105%;
}

.pager-cell-button {
    padding: 0 0 0 5px;
}

.custom-filter {
    float: right;
    padding: 0;
}

.filter-a .filter_with_icon {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;

    border: 1px solid #666666;
    border-left-width: 0;
    background: #F4F2F2;
    font-size: 1em !important;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: #eee 0 1px 0;
    color: #4C4C4C;
    line-height: 1.25;
    white-space: nowrap;
    min-height: 40px;
    min-width: 75px;

    padding: 2px 4px !important;
}

.filter-a .filter_with_icon img {
    display: block;
    margin: 1px auto 2px;
}

.filter-a .filter_with_icon:focus,
.filter-a .filter_with_icon:hover {
    background-color: #e6e6e6;
}
.filter-a .filter_with_icon.active {
    background-color: #aaadb1;
    color: #1F1F1F;
}

.filter-a .filter_icon {
    background: none;
    border: none;
    margin: 15px 0 0 0;
    min-height: 25px;
    max-height: 30px;
    max-width: 30px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    padding: 1px 4px 2px 0 !important;
}
.filter-a .filter_icon:hover,
.filter-a .filter_icon:focus {
    background-color: #e6e6e6;
}
.filter-a .filter_icon.active {
    background-color: #aaadb1;
}

.filter-a .filter_icon table {
    margin: 0;
}

.filters-group .group_box:first-child button {
    border-left: 1px solid #666666;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.filters-group .group_box:last-child button {
    -webkit-border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomright: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

div.filter-a button table {
    margin: 10px;
    text-align: center;
}

td.exp-header,
td.imp-header,
td.save-filter-header {
	padding:0 0 0 10px;
}

td.exp-header a,
td.imp-header a,
td.save-filter-header a{
	margin: 2px;
}

.scroller {
    position: absolute;
    width: 14px;
    display: none;
    height: 100%;
    background: no-repeat center center;
    top: 0;
}
.scrolling .scroller {
    display: block;
}
.left.scroller {
    left: 0;
    background-image: url(/static/images/scroll_left.png);
}
.right.scroller {
    right: 0;
    background-image: url(/static/images/scroll_right.png);
}

span.char {
    position: relative;
}

.translatable {
    position: absolute;
    right: 2px;
    top: 0px;
}

img.translatable {
    cursor: pointer;
    vertical-align: middle;
}

iframe.ui-dialog-content {
    padding: 0 !important;
    width: 100% !important;
}

