<style type="text/css">
* { margin:0;
    padding:0;
}
body { background:#555 url(images/back.jpg); }
#menu { top:30px; }
#copyright {
    margin:100px auto;
    width:80%;
    height:10px;    
    font:12px 'Trebuchet MS';
    color:#bbb;
    text-indent:20px;
    padding:40px 0 0 0;
}
#copyright a { color:#bbb; }
#copyright a:hover { color:#fff; }
</style>

<div id="menu">
    <ul class="menu">
        <li><a href="#" class="parent"><span>Entradas</span></a>
            <div><ul>
                <li><a href="#" class="parent"><span>Acertos de Estoque</span></a>
                    <div><ul>
                        <li><a href="#"><span>AC de Entrada</span></a><li>
                        <li><a href="#"><span>AC de Saídas</span></a></li>                 
                    </ul></div>
                </li>
                <li><a href="#"><span>Solicitação de Compra</span></a></li>
                <li><a href="#"><span>Entrada no Estoque</span></a></li>
                <li><a href="#"><span>Bloqueio de Lotes</span></a></li>
            </ul></div>
        </li>
        <li><a href="#" class="parent"><span>Saídas</span></a>
            <div><ul>
                <li><a href="#" class="parent"><span>Liberações de itens</span></a>
                    <div><ul>
                        <li><a href="#"><span>Manual</span></a><li>
                        <li><a href="#"><span>On-line</span></a></li>                 
                        <li><a href="#"><span>Confirmar Disponibilidade</span></a></li>  
                        <li><a href="#"><span>Autorizadas</span></a></li>               
                    </ul></div>
                </li>
                <li><a href="#"><span>Trocas</span></a></li>
                <li><a href="#"><span>Vendas</span></a></li>
                <li><a href="#"><span>Consignados</span></a></li>
            </ul></div>
        </li>
        <li><a href="#" class="parent"><span>Compras</span></a>
            <div><ul>
                <li><a href="#" class="parent"><span>Sugestão de Compras</span></a>
                    <div><ul>
                        <li><a href="#"><span>Manual</span></a><li>
                        <li><a href="#"><span>Automática</span></a></li>   
                    </ul></div>
                </li>
                <li><a href="#" class="parent"><span>Ordem de Fornecimento</span></a>
                    <div><ul>
                        <li><a href="#"><span>Emissão</span></a><li>
                        <li><a href="#"><span>Bloqueios</span></a></li>
                        <li><a href="#"><span>Liberação</span></a></li> 
                        <li><a href="#"><span>Cancelamento</span></a></li>                                
                    </ul></div>
                </li>              
            </ul></div>
        </li>
        <li><a href="#"><span>Help</span></a></li>
        <li class="last"><a href="#"><span>Contatos</span></a></li>
        
    </ul>
</div>


